<% provide(:title, "Confirm Account") %>
<div class="jumbotron">
<h1>Confirm Account</h1>
<p>Congratulations, your request for access to the NIPSH Data Repository has been approved.  Please use the form below to create your password and confirm your account.</p>

<h2>Email Address: kitkemp@iu.edu</h2>

<form>
	<div class="form-group">
		<label>Password</label>
		<input type="password" class="form-control" placeholder="Password">
	</div>
	<div class="form-group">
		<label>Confirm Password</label>
		<input type="password" class="form-control" placeholder="Confirm Password">
	</div>

	<button type="submit" class="btn btn-primary btn-lg">Confirm Account</button>
</form>


</div>