<% provide(:title, "Contact") %>
<div class="jumbotron">
<h1>Contact Us</h1>
<div class="row">
<div class="col-md-6 col-sm-6">
 
	<p>&nbsp;</p>
	<p><img class="aligncenter size-full wp-image-980" src="https://publicsafetymed.com/wp-content/uploads/2014/09/indy1.jpg" alt="indy" width="289" height="288" /></p>
	<h3>Indianapolis Office</h3>
	<p><em><br />
	Hours<br />
	</em>8:00 AM to 4:30 PM Monday-Friday<br />
	<span style="color: #000000;">Walk-in blood draws allowed</span></p>
	<p><em>Visit</em><br />
	324 E New York Street<br />
	Indianapolis, Indiana 46204</p>
	<p><em>Call</em><br />
	<strong><span style="color: #f7901e;">(317) 972.1180</span></strong><br />
	(877) 972.1180 toll-free</p>
	<p><em>Fax</em><br />
	(317) 972.1190</p>
	<p><span style="color: #ff6600;"><strong>Want to join our Team? <span style="color: #3366ff;"><a style="color: #3366ff;" href="https://publicsafetymed.com/about-us/job-application/" target="_blank">Click here</a>.</span></strong></span></p>
</div>
<div class="col-md-6 col-sm-6">
	<p>&nbsp;</p>
	<p><img class="aligncenter size-full wp-image-979" src="https://publicsafetymed.com/wp-content/uploads/2014/09/fishers1.jpg" alt="fishers" width="288" height="288" srcset="https://publicsafetymed.com/wp-content/uploads/2014/09/fishers1-150x150.jpg 150w, https://publicsafetymed.com/wp-content/uploads/2014/09/fishers1.jpg 288w" sizes="(max-width: 288px) 100vw, 288px" /></p>
	<h3>FISHERS office</h3>
	<p><em><br />
	Hours</em><br />
	By appointment only</p>
	<p><em>Visit</em><br />
	11530 Allisonville Road Suite 135<br />
	Fishers, Indiana 46038</p>
	<p><em>Call</em><br />
	(317) 972.1180 <em><strong>(calls handled by Indy office)</strong></em><br />
	(877) 972.1180 toll-free</p>
	<p><em>Fax</em><br />
	(317) 964.2370</p>
</div>
</div>
</div>