<% provide(:title, "Data Sources") %>
<div class="jumbotron">
<h1>NIPSH Data Repository - Data Sources</h1>

<p>The NIPSH Data Repository pulls data from a number of different sources. Below is an overview of the available information and the data format. It is important to note that unless formal consent and access has been provided, data results will be obfuscated to assure participant anonymity.</p>


<div class="row">
<div class="col-md-6 col-sm-6">
	<h2>Annual Firefighter Survey</h2>

	<h3>Demographics</h3>

	<ul>
	<li>Date of birth</li>
	<li>Gender</li>
	<li>Ethnicity</li>
	<li>Race</li>
	<li>Marital status</li>
	<li>Education level</li>
	</ul>

	<h3>Employment</h3>

	<ul>
	<li>Current employment status</li>
	<li>Date of exit (if applicable)</li>
	<li>Year of hire</li>
	<li>Current duties</li>
	<li>Primary duties over career</li>
	<li>Current volunteer status</li>
	<li>Volunteer hours per month</li>
	<li>Secondary employment status</li>
	<li>Secondary employment type/history</li>
	</ul>

	<h3>Illness/Injury</h3>

	<ul>
	<li>Non-work sick days</li>
	<li>Injury leave days</li>
	<li>Alternative duty days</li>
	<li>Long-term/permanent alternative days</li>
	</ul>

	<h3>Tobacco and Alcohol</h3>

	<ul>
	<li>Current/past smoker</li>
	<li>Start date</li>
	<li>Stop date</li>
	<li>Packs per day</li>
	<li>Chewing tobacco use</li>
	<li>Cigae/Pipe Use</li>
	<li>Tobacco cessation program participation</li>
	<li>Cessation program success</li>
	<li>Alcohol use</li>
	<li>Alcohol use/week</li>
	</ul>


	<h3>Health History</h3>

	<h4>Family History</h4>

	<ul>
	<li>Male family history</li>
	<li>Female family history</li>
	</ul>

	<h4>Health Problems</h4>

	<ul>
	<li>Diabetes</li>
	<li>Hypertension</li>
	<li>Hyperlipidemia</li>
	<li>Cancer (type)</li>
	<li>Heart Disease</li>
	<li>Respiratory Disease</li>
	<li>Gastrointestinal Disease</li>
	<li>Reproductive Health</li>
	<li>Neurologic Disease</li>
	<li>Hepatitis</li>
	<li>Psychiatric Disorder</li>
	<li>Injury (type)</li>
	<li>Arthritis</li>
	<li>Other</li>
	</ul>

	<h4>Surgeries</h4>

	<h3>Cancer Screening</h3>

	<ul>
	<li>PSA</li>
	<li>DRE</li>
	<li>FOB</li>
	<li>Colonoscopy</li>
	<li>Pap smear</li>
	<li>Breast Exam</li>
	<li>Mammogram</li>
	<li>Skin</li>
	<li>Testicular exam</li>
	</ul>

	<h3>Physical Activity</h3>

	<ul>
	<li>30 minute frequency</li>
	<li>Cardiovascular frequency</li>
	<li>Stength training frequency</li>
	<li>Intense exercise frequency</li>
	<li>30 minutes daily</li>
	</ul>
</div>
<div class="col-md-6 col-sm-6">
<h2>Annual Exam</h2>

<h3>Physical Measurements</h3>

<ul>
<li>Blood Pressure</li>
<li>Pulse</li>
<li>Weight</li>
<li>Height</li>
<li>Hip circumference</li>
<li>Waist circumference</li>
<li>Body composition</li>
<li>FVC</li>
<li>FEV1</li>
<li>FEV1/FVC</li>
</ul>

<h3>Lab Data</h3>

<ul>
<li>WBC count</li>
<li>Hemoglobin</li>
<li>Hematocrit</li>
<li>SGOT_AST</li>
<li>SGPT_ALT</li>
<li>Triglyceride</li>
<li>Cholesterol</li>
<li>LDL</li>
<li>HDL</li>
<li>Glucose</li>
<li>BUN</li>
<li>Creatinine</li>
<li>Urinalysis</li>
</ul>

<h3>Hearing Test</h3>

<h3>Immunizations</h3>

<ul>
<li>Hepatitis B</li>
<li>Hepatitis A</li>
<li>Influenza</li>
<li>TB</li>
<li>Hepatitis C</li>
</ul>

<h3>Fitness Test</h3>

<ul>
<li>Aerobic Capacity</li>
<li>Flex-sit-reach</li>
<li>Strength

<ul>
<li>Hand</li>
<li>Leg</li>
<li>Arm</li>
</ul></li>
<li>Vetrical Jump</li>
<li>Push-ups</li>
<li>Prone static plank</li>
</ul>
</div>
</div>
</div>
