<% provide(:title, "Home") %>
<div class="jumbotron">
<h1>National Institute of Public Safety Health Data Repository</h1>

<p>The NIPSH Data Repository consists of a collection of health, fitness, and wellbeing information collected from thousands of public safety employees across all fields and disciplines.  This data is made available in an anonymized state to the public for research purposes. If you or your organization are interested in access to the full dataset, please use the button below to request access.</p>

<div class="center block">
<div class="btn-group">
<%= link_to 'Request Access', request_path, class: 'btn btn-primary btn-lg center-block no-underline', type: 'button' %>
</div>
</div>

<h3>Data Definitions</h3>

<p>The data in the repository is derived from a numnber of sources including fitness tests, lab tests, physical examinations, and surveys.  To view a full list of the available data, use the buttons below.</p>

<div class="center block">
<div class="btn-group" role="group">
	<%= link_to 'Available Data', data_path, class: 'btn btn-primary btn-lg no-underline' %>
	<%= link_to 'Download PDF', asset_path('NIPSH_data_sources.pdf'), class: 'btn btn-primary btn-lg center-block no-underline' %>
</div>
</div>

<h3>Sample Access</h3>
<p>A subset of the full dataset has been made available to the general public outside of the approval process. Results are limited to assure anonymity of the participants.</p>

<div class="center block">
<div class="btn-group" role="group">
  <%= link_to 'Search the Database', searches_path, class: 'btn btn-primary btn-lg no-underline' %>
</div>
</div>
</div>

