<% provide(:title, "Request Access") %>
<div class="jumbotron">
<h1>Request Access</h1>
<p>If you are conducting research and would like full access to the data within the NIPSH Data Repository, please complete the form below. In order to fully protect the privacy of participants, only serious inquiries will be considered and all data will be anonymized.

Please allow 5 business days for approval.</p>

<form>
	<div class="form-group">
		<label>Name</label>
		<input type="text" class="form-control" placeholder="Name">
	</div>
	<div class="form-group">
		<label>Organization</label>
		<input type="text" class="form-control" placeholder="Organization">
	</div>
	<div class="form-group">
		<label>Research Synopsis</label>
		<textarea class="form-control" rows="10" placeholder="Research Synopsis"></textarea> 
	</div>
	<div class="form-group">
		<label>Email Address</label>
		<input type="email" class="form-control" placeholder="Email Address">
	</div>

	<button type="submit" class="btn btn-primary btn-lg">Request Access</button>
</form>


</div>