<h2>Results</h2>

<% if @results %>
   
<span> <%= @results.count('id', :distinct => true) %> Results Found</span><br /> 
<%= link_to "Download CSV", searches_path(params.merge(format: "csv"))%>
<% end %>


